<div class="container">

<h1>EAT DA BURGER!</h1>

<div class = "row">
    <div class= "col-md-6 col-left">
        <ul>
            {{#each burgers}} 
                {{#unless devoured}}
                    <li>{{this.burger.name}}</li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>








<br>

<h3>Add a Burger!</h3>

<div>
    <form>
        <div class="form-group">
            <label for="name">Enter a burger</label>
            <input type="text" class="form-control" id="burger_name" name="burger_name" placeholder="Enter Burger"></input>
        </div>  
        <button type="submit" class="btn btn-primary">Add Da Burger</button>
    </form>
</div>



</div>

