
<div class="container">
  <h1>Eat-Da-Burger!</h1>

  <div class="row">
    <div class="col-md-6 col-left">
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-md-6 col-right">
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block devoured=true}}
        {{/if}}
      {{/each}}
    </div>

  </div>


  <form class="create-form">

    <div class="form-group">
      <label for="name"></label>
      <textarea id="burger" name="burger_name" rows="2" cols="40" placeholder="Enter da burger"></textarea>
    </div>
    <button type="submit" id="submit">Submit</button>
    </form>

</div>




{{!-- <div class="container">

<h1 id="header">EAT DA BURGER!</h1>



<div class = "row">
    <div class= "col-md-6 col-left">
        <ul>
            {{#each burgers}} 
                {{#unless devoured}}
                    {{> burgers/burger-block devoured = false}}
                {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>

<div class = "row">
    <div class= "col-md-6 col-right">
            {{#each burgers}} 
                {{#if devoured}}
                    {{> burgers/burger-block devoured = true}}
                {{/if}}
            {{/each}}
    </div>
</div> --}}








{{!-- <br>

<h3>Add a Burger!</h3>

<div>
    <form class="create-form">
        <div class="form-group">
            <label for="burger">Enter a burger</label>
            <input type="text" class="form-control" id="burger" name="burger_name" placeholder="Enter Burger"></input>
        </div>  
        <button type="submit" class="btn btn-primary" id="submit">Add Da Burger</button>
    </form>
</div>



</div> --}}

