<h1>EAT DA BURGER!</h1>

<h2>Add you favorite Burger!</h2>

<ul>
  {{#each burgers}} {{> burger}} {{/each}}
</ul>

<br>

<div>
   <form class="create-form">
        <div class="form-group">
            <textarea rows="4" cols="50" id="burgerField" name="name" placeholder="Add burger here.."></textarea>
        </div>
        <div class="buttonDiv">
            <button type="submit">ADD DA BURGER</button>
        </div>
        <div class="buttonDiv">
            <p>What burger would you like to devour? Enter and hit "ADD DA BURGER"</p>
        </div>
    </form>

</div>
