<h1>EAT DA BURGER!</h1>

<h2>Add you favorite Burger!</h2>

<ul>
  {{#each burgers}} 
    {{#unless devoured}}
  <li>{{this.burger.name}}</li>
    {{/unless}}
  {{/each}}
</ul>



<br>

<h3>Add a Burger!</h3>

<div>
    <form>
        <div>
            <div class="form-group">
                <label for="EatDaBurger">Enter a burger</label>
                <input type="test" class="form-control" id="burgerType" placeholder="Enter Burger"></input>
            </div>  
                <button type="submit" class="btn btn-primary">Add Da Burger</button>
        </div>
    </form>
</div>

